/* MyAnimeList link */
$linkBackground: transparent url('chrome-extension://__MSG_@@extension_id__/images/myanimelist.png?1') no-repeat center center;

.mcl-link {
	width: 20px;
	height: 20px;
	background: $linkBackground;
}

/* Home page */
.page-home {
	.mcl-link-added {
		.series-title {
			width: auto;
			padding-right: 30px;
		}
	}
	
	.mcl-link {
		position: absolute;
		top: 7px;
		right: 6px;
		opacity: 0.5;
		
		&:hover {
			opacity: 1;
		}
	}
}

/* Queue page */
.page-queue {
	.mcl-link {
		position: absolute;
		top: 60px;
		right: 8px;
	}
}

/* Anime & Manga pages */
.page-anime,
.page-manga {
	.mcl-link {
		position: absolute;
		bottom: 21px;
		right: 14px;
		opacity: 0.5;
		
		&:hover {
			opacity: 1;
		}
	}
}

/* Manga page */
.page-manga {
	.mcl-link-added {
		.series-title {
			padding-right: 30px;
		}
	}
	
	.mcl-link {
		bottom: 24px;
	}
}

/* Alphabetical page */
.page-alpha {
	.mcl-link {
		bottom: auto;
		top: 8px;
		right: 10px;
	}
}

/* Alphabetical all page */
.page-alpha-all {
	.mcl-link-added {
		position: relative;
		padding-right: 30px;
	}
	
	.mcl-link {
		right: 0;
		bottom: auto;
		top: -2px;
		
		&:hover {
			background: $linkBackground;
		}
	}
}

/* Single page */
.page-single {
	#container h1 {
		width: auto;
		position: relative;
		padding-right: 380px;
	}
	
	.mcl-link {
		width: 34px;
		position: absolute;
		right: 330px;
		top: 5px;
		background: #2e51a2 url('chrome-extension://__MSG_@@extension_id__/images/myanimelist-single.png?1') no-repeat center center;
		opacity: 1;
		-webkit-filter: none;
		filter: none;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		
		&:hover {
			opacity: 0.8;
		}
	}
}