/* Lightbox */
.mcl-lb-overlay,
.mcl-lb-iframe,
.mcl-lb-close:after {
	width: 100%;
	height: 100%;
	display: block;
}

.mcl-lb-overlay,
.mcl-lb-container {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.mcl-lb-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	background: rgba(0,0,0,0.5);
}

.mcl-lb-loader {
	width: 80px;
	height: 80px;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999999;
	margin: -40px 0 0 -40px;
	overflow: hidden;
	text-indent: -999px;
	background: #fff url('chrome-extension://__MSG_@@extension_id__/images/loader.gif?1') no-repeat 11px center;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 30px #555;
	box-shadow: 0 0 30px #555;
}

.mcl-lb-container {
	width: 94%;
	height: 94%;
	position: fixed;
	top: 3%;
	left: 3%;
	z-index: 999999999;
}

.mcl-lb-iframe {
	background: #fff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.mcl-lb-close {
	width: 30px;
	height: 30px;
	display: block;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 999;
	overflow: hidden;
	text-indent: -999px;
	background: #fff;
	outline: none;
	padding: 0;
	cursor: pointer;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #f78c25;
	-webkit-box-shadow: 0 0 6px -1px #333;
	box-shadow: 0 0 6px -1px #333;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;

	&:after {
		content: "x";
		position: absolute;
		top: 0;
		left: 0;
		text-transform: uppercase;
		font: normal 18px/32px arial, sans-serif;
		text-align: center;
		text-indent: 0;
		color: #333;
		text-shadow: 0px 0px 1px #999;
	}
	
	&:hover {
		-webkit-box-shadow: 0 0 14px -1px #333;
		box-shadow: 0 0 14px -1px #333;
	}
}

.mcl-lightbox {
	overflow: hidden;

	.mcl-lb-overlay,
	.mcl-lb-container {
		display: block;
	}
	
	&.mcl-lightbox-overlay {
		.mcl-lb-overlay {
			opacity: 1;
		}
	}
	
	&.mcl-lightbox-loaded {
		.mcl-lb-loader {
			display: none;
		}
		
		.mcl-lb-container {
			opacity: 1;
		}
	}
}


/* My Crunchy List link */
.mcl-link {
	display: block;
	overflow: hidden;
	text-indent: -999px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.4;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;	

	&:hover {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		opacity: 1;
	}
}

.mcl-hide-links {
	.mcl-link {
		display: none !important;
	}
}